*.swp
typings/

# Node
node_modules
npm-debug.log

jspm_packages

# TypeScript
*.map
*.d.ts

# JetBrains
.idea
.project
.settings

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Angular2 Fontawesome
angular2-fontawesome.js
angular2-fontawesome.d.ts
angular2-fontawesome.js.map

/src/*.js
/src/*.js.map

src/**/*.js.map

/*.js

bundles
factories
coverage
html-report

/**/*.metadata.json

demo

.coveralls.yml
